// Link styles

a {
	color: $secondary;
	transition: 0.3s;
	text-decoration: none;
	font-family: $text-medium;
	display: block;

	&:before,&:after {
		position: relative;
		@extend .nlsg-icon--size-24;
		@extend .nlsg-icon--colour-grass-green;
	}
	&:before {
		margin-right: 0.5rem;
	}
	&:after {
		margin-left: 0.5rem;
	}

	&:hover,
	&.hover {
		color: $primary-hover!important; 

		&:before,&:after {
			position: relative;
			@extend .nlsg-icon--size-24;
			@extend .nlsg-icon--colour-brand-green;
		}
	}

	&:visited,
	&.visited {
		color: $tertiary;
	}
	&.nlsg-c-button {
		padding: 0.8rem 0;
	}
}

p {
	a {
		text-decoration: underline !important;	
		font-family: $text-regular;
		display: inline;
	}
}

li {
	a {
		text-decoration: underline;	
		font-family: $text-regular;
		display: inline;
	}
}
label {
	a {
		text-decoration: underline;	
		font-family: $text-regular;
		display: inline;
	}
}


