<section class="title-block">
  <h3>Nedbank Datepicker Demo:</h3> <p>View repo and documentation at <a href="">xxxxx</a></p>
</section>

<section class="datepicker-container">
  <ui-datepicker
  [rangeOn]="true"
  [disableDates]="disableDates"
  label="Date range"
  placeholder="dd/mm/yyyy - dd/mm/yyyy">
  </ui-datepicker>

  <ui-datepicker
  [rangeOn]="false"
  [disableDates]="disableDates"
  label="Single date"
  placeholder="dd/mm/yyyy">
  </ui-datepicker>
</section>

