// Styles for the demo page
@import "../styles.scss";
h3   {
    font-family: $text-regular;
    display: block;
    color: $white;
    margin-bottom: 0;
}
p {
    font-family: $text-regular;
    display: block;
    color: $white;
    margin-top: 10px;
}

.title-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: $secondary;
    margin-bottom: 30px;
}

.datepicker-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

